
/* ===== sharpcoupon ===== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease;

}


/* ===== Colours ===== */
:root{
    --body-color: #E4E9F7;
    --nav-color: #107FB6;
    --back-body: #f4f4f7d1;
    --text-color: #DADADA;
    --body-back: #F2F2F2;
    --search-text: #010718;
    --gard-nav:  #FEFDFF; 
    --hading-all:  #575757; 
    --antick:  #4483CE;
    --card:  #5B1C01;
    --hading-thrr: #323233;
    
}


body{
   background: #f5f5f7;
    height: 100vh;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

.nav-color{
   background-color:#f5f5f7;
}

.navbar-toggler{
    padding: 0;
    box-shadow: none !important;
    border: none !important;
}

.navbar-toggler-icon {
  border: none !important;
    background-image: url(nav-icon.svg) !important;
   
}
.nav-link:focus{
    color:var(--antick);
    text-decoration: underline;
}
.like{
    color:var(--text-color);
 padding: 5px 0px 5px 20px;
 cursor: pointer;
}
.like:focus{
    color:#fdc500;
}
.top-text{
    background-color:var(--nav-color);
    padding: 2px;
    position: fixed;
    top: 0;
    width: 100%;
    height: 40px;
padding-left: 5%;
z-index: 1000;
overflow: hidden;
}
.navbar{
    padding: 2px;
    position: fixed;
    top: 40px;
    width: 100%;
    height:53px;
    z-index: 1000;
}
.top-th{
    color: white;
    font-weight: 700;
}
.feed-back{
    display: none;
    color: #FFF;
    padding-left:10px ;
    font-size: 14px;
}
.logo{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size:40px;
   text-transform:capitalize;
   padding-left: 35px;
   color:var(--hading-all);
   
}
.coupon{
    color: #1a89f1;
    font-size: 20px;
    font-style: italic;
    margin-left: -10px;
}
li{
    font-size: 16px;
    gap: 5px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
a:hover{
    color:var(--nav-color);
}
.user {
    display: flex;
    justify-content: center;
    padding-left: 5%;
    background:#fdc500 ;
    margin-left: 25px;
    padding: 7px 20px 7px 20px;
    border-radius: 10px;
    float: right;
    font-size: 16px;
    font-weight: 900;
   text-transform: capitalize;
   cursor: pointer;
   
}
.main-cnt{
   margin: 100px 0 0 0 !important; 
   background-color:var(--back-body);
}
.hading-main{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-transform: capitalize; 
    font-weight: 600; 
    text-align: center; 
    padding: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    color:var(--hading-all);
}
.main-home-card{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
    background-color:var(--gard-nav);
    border-radius: 10px; 
    margin-left: 20px;
}

.home-card{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-card-dif{
    display: flex;
    flex-direction: column;
    padding: 5px 0px 5px 0px;
}
.imazon-logo{
    max-width: 160px;
}
.save-text{
    padding: 25px;
    padding-top: 0;
}
.save-with{
    font-size: 40px;
    color:var(--hading-all);
    font-weight:600;
    text-transform: uppercase;
    text-align: center;
}
.main-card-with{
    font-size: 18px;
    color:var(--antick);
    font-weight: 4600;
    text-transform: capitalize;
    text-align: center;
    font-style: italic;
  margin-top: -10px;
}
.main-card-promo{
    text-transform: capitalize;
    text-align: center;
    font-size: 14px;
    color:var(--hading-all);
    padding-top: 20px;
}
.title-amazon-text{
    font-size: 24px;
    color:#382218;
    font-weight: 600;
    padding: 10px;
}
.card-disct-op{
    text-align: start;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    color:var(--hading-all);
    font-weight: 500;
}
.dtry{
    justify-content: flex-end;
    padding-right: 20px;
}
.show-coupon{
  display: flex;
  justify-content:flex-end;
  align-items: center;
  width: 120px;
  cursor: pointer;
}
.show-coupon:hover .oper-cord{
    width: 143px;
    background: #2e2edb;
}
.btuttom-copne{
    border:dotted 3px var(--antick);
    border-radius: 10px;
    position: relative;
    padding: 5px;
}
.oper-cord {
    position: absolute;
    width: 158px;
    background-color:var(--antick);
    padding: 5px;
    left: -4px;
    top: -4px;
    height: 54px;
    text-align: center;
}
.coupon-promo{
    font-size: 18px;
    color: #FFF;
    text-align: center;
    margin-top: 10px;
}
.copne-cod{
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #010718;
}
.main-side{
    display: flex;
    flex-direction: column;
   
}
.side-cat {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 2px 10px 2px;
    
}
.categories-text{
    font-size: 18px;
    color:var(--hading-all);
    font-weight: 700;
    text-transform: capitalize;
    padding-bottom: 20px;
    text-align: center;
   
}
.accessories{
    font-size: 14px;
    color: #2f3031;
    font-weight: 600;
    text-transform: capitalize;
  
}
.cat-img-sm{
    max-width:100px;
    border: 10px;
   
}
.store-hading{
    font-size: 36px;
   font-weight: 700;
   color:var(--hading-all);
   text-align: center;
   padding: 20px;
}
.stores-sc{
    border: 2px dotted var(--hading-all);
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: var(--back-body)
   
}
.stores-catr{
    border: 2px dotted #1a89f1;
   display: flex;
   justify-content: space-around;
   align-items: center;
   
}
.store-name{
    font-size: 18px;
   color: #232427;
    text-align: start;
}
.store-name-cati{
    font-size: 18px;
    color: #2c2e30;
    text-align: start;
 
}
.asq-qc{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.asked{
    font-size: 40px;
    text-align: center;
    padding: 20px;
}
.faq-sc-hading{
    font-size: 24px;
    text-align: center;
    padding: 10px;
}
.faq-card{
    margin-top: 10px;
    background: white;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.sharp-footer{
    color: #F2F2F2;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
  border-bottom: 2px solid white;
}
.footer-first{
    display: flex;
    flex-direction: column;
}
.kmas-footer{
    background:var(--search-text);
}
.lightt{
    color: #FFF;
    font-size: 36px;
    font-weight: 600;
    letter-spacing: 1px;
    padding-top: 20px;
}
.footer-link-hading{
    font-size: 20px;
    font-weight: 700;
    padding-top: 20px;
    
}
.ligh-ds{
    font-size: 14px;
    color: #d4cdcd;
}
.ligh-ds:hover{
    text-decoration: underline;
    cursor: pointer;
}
.artivp{
    font-size: 18px;
}
.artical-buttom{
    display: flex;
    align-items: center;
  padding: 15px;
    gap: 10px;
    border:1px dotted black;
}
.artilpo{
    margin-top: 50px;
}
.dis-footer{
    font-size: 14px;
    color: #FFF;
}
svg {
    vertical-align: middle;
    width: 36px;
    padding-left: 13px;
    margin-top: -9px;
    cursor: pointer;
}
.avlbel-offer{
    font-size: 13px;
    color:var(--hading-all);
}
.offer-no{
    color:var(--antick);
    font-weight: 600;
}
/* =====coupon page===== */
.coupon-page{
    background-color:var(--back-body);   
}
.coupon-hading-tow{
text-align: center;
margin-top: 50px;
background: white;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.coupon-hading-tow-cop{
    text-align: center;
    margin-top: 50px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    margin-bottom: 40px;
    
}
.coupon-coupon{
    padding: 40px 0px 40px 0px;
    color:var(--hading-all);
    font-size: 40px;
    font-weight: 700;
}
.coupon-kmlo{
    text-align: center;
    margin-top: 50px;
    background: white;
    box-shadow: rgba(0, 0, 0, 0.35) 10px 6px 15px;
    margin-bottom: 40px;
}
.coupon-sigall{
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 5px 10px 20px;
  
}

.janio{
    padding: 0px 10px 10px 10px !important;
}
.copuon-site-back{
    background: white;
    padding: 0px 10px 0px 0px;
    border-radius: 0px 0px 0px 20px;
}
.coupon-side-hading{
    font-size: 20px;
    color:var(--hading-all);
    text-align: center;
font-weight: 700;

}
.get-up{
    font-size: 18px;
    font-weight: 700;
    color:rgb(31, 30, 30);
   margin-top: 5px;
}
img.img-fluid.coupen-ty {
    border-radius: 0px 0px 0px 20px;
}
.time-top{
    font-size: 14px;
    color: #107FB6;
}
.store-web{
    font-size: 12px;
    color: #0703e0;
   text-align: center;
}
.page{
    display: flex;
    justify-content: center;
    padding: 20px;
   background: none;
}
/* =====All store page ===== */
.freshly{
    display: flex;
    justify-content: center;
}
.freshly-first{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.freshly-img{

    border-radius: 10px 20px 10px 25px;
    padding: 10px;
}
.store-nm{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 600;
    text-align: center;
}

.vendor-tex{
    font-size: 48px;
    color:rgb(36, 35, 35);
    text-align: center;
    margin-top: 20px;
    font-weight:600;
}
.vender-store{
    font-size:18px;
    color: #05133898;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.border-cal{
    background: white;
    
}
.atoz{
    font-size: 48px;
    padding: 10px;
    font-weight: 900;
}
.atoz-store{
    display: flex;
    font-size:36px;
    gap: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #010718;
    font-weight: 600;
    padding-right: 0;
    border-bottom: 1px dotted black;
    justify-content: flex-end;
}
.faxetu{
    justify-content: flex-start;
}
.all-stor-text-mk{
    color: #010718;
    padding-bottom: 20px;
}
.all-stor-text-mk:hover{
  text-decoration: underline;
  
}
.commictin{
    font-size: 15px;
    text-align: center;

    padding-left: 25px;
}


/* ===== singall store ===== */

.set-displye{
    display: flex;
   gap: 20px;
}
.store-sigll-hading{
    font-size: 40px;
    margin-top: 30px;
    font-weight:800;
    color:var(--hading-all);
   

} 
.store-sun-hading{
    font-size: 32px;
    margin-top: 30px;
    font-weight:800;
    color:var(--hading-all);
   

}

.saving {
    display: flex;
    gap: 15px;
    align-items: baseline;
    justify-content: flex-start;
    padding-top: 10px;
}
.saving-tisp{
    color:#1a89f1;
}
.woot{
    color:var(--hading-all); 
    font-size: 14px;
    border-bottom: 1px solid black; 
}
.store-rate{
   background: #DADADA;
   border-radius: 45%;
padding: 5px 10px;
text-align: center;
font-size: 16px;
   
}
.card-parnet{
   
   position: relative;
    background-repeat: no-repeat;

}
.poction{
    position: absolute;
    width: 140px;
    height: 170px;
    left: 5px;
}
.card-km{
    padding-top: 15px;
    padding-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
    height: 180px;
    margin-bottom: 10px;

}
.card-parnet{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}
.coupon-kmas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.parent-off{
    font-size: 40px;
    font-weight:800;
   color: #010718;
   letter-spacing: 2px;
   
}
.off-kmas{
    font-size:18px;
    color:var(--hading-all);
    font-weight: 700;
}
.namr {
    width: 24px;
}
.saml-numt{
    font-size:14px;
    color:black;
    font-weight: 500;
}

.saml-dop{
    font-size: 18px;
    text-transform: capitalize;
    color: #2c2e30;
}
/* =====store page re desing ===== */
.dubll-part{
    background-color:rgb(221, 217, 217);
}
.card-side{
    background-color:#f5f5f7;
   padding-top:5px;
   padding-bottom: 20px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cord-main-body{
    padding: 10px 40px 10px 40px;
}
.text-side{
    background-color:#f5f5f7; 
    margin-top: 10px;
}
.info-side{
    background-color:#f5f5f7;
   margin-left: 20px;
   padding-top: 5px;
}
.hoshi3 {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.hoshi1 {
    display: flex;
    justify-self: start;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}
.daliye-text{
    font-size: 18px;
    padding: 15px;
}
.hore {
    background-image: url(oprt.png);
    width: 160px;
    height: 50px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.top-show{
    position: absolute;
    background: #0703e0;
    left: -25px;
border-radius: 5px;
padding-right:25px;
}
.hore:hover .top-show{
    background: #0448af;
    padding-right:14px;
}
.sharptrt{
    font-size: 20px;
    color: #010718;
    font-weight: 800;
    text-align: center;
    padding-top:8px;
   margin-right: -20px;
   
   
}
.log-stor-rm {
    display:none;
   
}
.code-trts {
    font-size: 17px;
    padding-right: 19px;
    padding-left: 12px;
    margin-top: 9px;
    color: white;
    font-weight: 600;
}
.stroe-card-km {
    font-size: 36px;
    font-weight: 600;
    padding-top: 10px;
}
/* ===== info section ===== */

.rate-srt{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.rare-hadind-info{
    font-size: 24px;
    text-align: center;
 padding: 10px;
    color: #010718;
    font-weight: 600;
}
.star-boot{
    display: flex;
   justify-content: center;
   gap: 5px;
}
.loog-vvt{
    font-size: 14px;
    text-align: center;
    color:var(--hading-all);
}
.locatin{
    display: flex;
    gap: 10px;
    padding: 3px;
   
}
.pix{
    font-size: 22px; 
    padding-top: 5px;
    font-weight: 600;
}
.full-fil{
    color: rgb(228, 152, 10);
    
}
.half-fil{
    color: rgb(228, 152, 10);
   
}
.no-fil{
    color: rgb(228, 152, 10);
     
}
.contact-op{
    font-size: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-top: 7px;
   color: #1a1917;
}

.bi-globe2{
    color: red;
}
.highlit{
    font-size: 24px;
    text-align: start;
 padding: 10px 10px 10px 0px;
 color:var(--hading-all);
    font-weight: 600;
}
/* =====disscount  ===== */
.hightlit-tab{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}
.disscount-hading{
    font-size: 16px;
    color: #000103;
    padding: 6px;
    font-weight: 700;
}
.offparnt{
    font-size: 16px;
    color:var(--hading-all);
    font-weight: 500;
    padding-left: 25px;
}
.line-dewwid{
    border-top: 1px solid var(--hading-thrr);
    padding-bottom: 10px;
}

.store-highlit{
    font-size: 19px;
    text-align: start;
 color:var(--hading-thrr);
    font-weight: 700;
    padding-top: 15px;
}
.question-fq{
    font-size: 16px;
    color:var(--hading-all);
    font-weight: 600;
   padding-bottom: 15px;

}
.anwserr-fq{
    font-size: 15px;
    color:var(--hading-thrr);
    padding-top: 0;
    padding-right: 15px;
    
      
}
.qcy {
    padding-right: 14px;
}
.papora-serach{
    display: flex;
    flex-direction: column;
    justify-content: center;
font-weight: 700;
    gap: 5px;
    padding-bottom: 20px;
}

.tab-font{
    font-size: 17px !important;
    color:var(--hading-thrr) !important;
}
.tab-sub{
    font-size: 16px !important;
    color:var(--hading-all) !important;
}
.tabl-ta{
    width: 25% !important;
    
}
.tabl-tb{
    width: 50% !important;
}
.tabl-tc{
    width: 25% !important;
}
.eddtor{
    
    padding: 20px 20px 20px 0px;
}

/* =====cashback page and ===== */
.cash-bk{
    display: flex;
    justify-content: space-around;
   
}
.cashtk{
    text-align: center;
}
.cash-card{
    background: white;
padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    max-width: 180px; 
    margin-top: 10px;
   
} 

.cash-store{
    font-size: 14px;
    color:var(--hading-all) !important;
}
.cashbottm {
    background-color: #1a89f1;
    padding: 5px 23px 5px 24px;
    border-radius: 0px 0px 10px 10px;
    
}

.cash-up-to{
    font-size: 17px;
    color: #fff;
    font-weight: 600;
}
.shop-now{
    background:  #1a89f1;
    margin-right: 10px;
    padding: 5px 30px 5px 30px; 
    border-radius: 5px;
} 
.showp-now{
    font-size: 22px; 
    color: white; 
    font-weight: 700; 
    text-transform: capitalize;
    text-align: center; 
    margin-top: 2px;
} 
.bunns{
    font-size: 16px;
    color: #1a89f1 ;
    padding-left: 10px;
} 
.card-disct{
    font-size: 20px;
    color: red;
} 
.card-mb-mb{
    display: none;
    font-size: 20px;
    color: red;
    padding-left: 25px;
} 
.imazon-logo {
   
    margin-left: -12px; 
    
   
} 
.coupon-sigall-mra {
    margin-top: 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 3px 3px 4px;
} 
.aling{
   
    color:var(--hading-all) !important; 
    font-size: 15px;
} 
.pulary{
    font-size:18px; 
   
} 
.opular{
    padding-left: 30px;
} 

/* ===== categori page ===== */
.ategories{
   font-size: 20px; 
   color: white; 
   background: #107FB6; 
   padding: 5px; 
   text-align: center;
} 
.padlt{
    padding-left: 20px; 
    margin-top: 5px;
} 
.elatoot{
    font-size: 36px; 
    text-align: center; 
    padding: 30px; 
    color: #000103; 
    font-weight: 700; 
} 
.border-rigt{
    border-right: 2px solid var(--hading-all);
} 


.savepop{
text-align: center; 
background: #0f1101;  
font-size: 16px; 
color: white;
}
.deicrt{
    font-size: 16px;
   color:var(--hading-all) ; 
   display: -webkit-box;
   overflow: hidden;
   -webkit-line-clamp:2;
   -webkit-box-orient: vertical;

}
.bordettt{
    border-bottom:2px solid var(--hading-all); 
    padding-bottom:10px ;
} 
.mb-font{
    font-size: 24px; 
    font-weight: 600;
} 
.dels-pop{
    font-size: 20px; 
    color: #000103; 
    font-weight: 600; 
    text-align: center; 
    display: flex; 
    justify-content: center;
} 
.padlttt{
    padding-left:20px;
} 
/* ===== home page and ===== */ 

.modal-content { 
    
    border: none;
    background: transparent; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.modal-heading {
    font-size: 26px;
    text-align: center;
    margin-bottom: 10px; 
    color: var(--hading-all);
}
.subheading {
    font-size:16px;
    text-align: center;
    margin-bottom: 20px;
    color: #666;
}
.copy-wrapper {
    display: flex;
    max-width: 320px;
    margin: 0 auto 20px;
    height: 60px;
}
#copyInput {
    border-radius: 0.25rem 0 0 0.25rem;
}
#copyButton {
    border-radius: 0 0.25rem 0.25rem 0;
}
.feedback-section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 20px auto;
    padding: 0 15px;
    padding-bottom: 35px;
}
.feedback-buttons {
    display: flex;
    gap: 10px;
}
.feedback-btn {
    font-size: 1.2rem;
    padding: 0;
    background: none;
    border: none;
    color: #000;
}
.modal-footer {
    background: #212529;
    color: white;
    text-align: center;
}
.copy-message {
    display: none;
    color: green;
    text-align: center;
    margin-top: 10px;
}
.close-btn {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 24px;
    color: #000;
    opacity: 0.7;
    border: none;
    background: none;
}
/* Add this new CSS rule */
.feedback-message {
    display: none;
    text-align: center;
    margin: 0;
    position: absolute;
    font-size: 13px;
    width: 160px;
    top: 9px;
    right: -6px;
    color: green;
}
.modal-dialog{
    position: relative; 
   
} 
.btn-close{
    width: 10%;
    margin-left: 89%;
} 

img.logoopo.rounded-circle {
    max-width: 80px;
    margin-top: -40px; 
    margin-left: 20%;
} 
.form-control{
    font-size: 20px;
    font-weight: 800;
}
.form-control:focus {
    color: transparent;
    background-color: #fff;
    border-color: transparent;
    outline: 0;
    box-shadow: none;
} 
.btn-primary{
    padding: 3px 20px; 
border: 2px dotted ; 
font-size: 20px;
background: #000;
}
/* ===== home page and ===== */

@media (max-width: 1180px){
    .imazon-logo {
        max-width: 120px;
    }
    .save-with {
        font-size: 28px;
    }
    .save-text {
        padding: 8px;
        padding-top: 0;
    }
    .title-amazon-text {
        font-size: 18px;
    }
    .card-disct {
        font-size: 13px;
    }
    .show-coupon {
        width: 80px;
       
    }
    .oper-cord {
        width: 121px;
        height: 47px;

    }
    .copne-cod {
       
        font-size: 18px;
      
    }
    .coupon-promo {
        font-size: 16px;
        margin-top: 8px;
    }
    .main-side {
        flex-direction: row;
        padding: 0 !important;
    } 
    .asq-qc{
       padding: 20px 0 20px 0;
    }
    .navbar{
       
        padding-right: 15px;
        height:78px;
        z-index: 1000;
    }
    .logo{
            
        padding-left: 5px;
        
     }
     .atoz-store{
      
        font-size:28px;
        gap: 8px;
       
    } 
    .showp-now {
        font-size:20px;
    } 
    .shop-now{
        background:  #1a89f1;
        margin-right: 10px;
        padding: 5px 15px 5px 15px;
    } 
    
    .store-sun-hading {
        font-size: 26px;
       
    }
    /* ===== home page and ===== */
}
@media (max-width: 996px) {
    .container.nav-color.mobile-yp {
        display: flex;
        width: 50%;
        margin-right: 50%;
       border-radius : 0px 30px 30px 0;
        align-items: center;
        margin-left: -2px;
        flex-direction: column-reverse;
        padding-bottom: 10px;
        
    }
    .widhtt{
        width: 100% !important;
        padding-top: 0px;
        padding-bottom: 0px;
        }
       
        .lightt{
           
            font-size: 30px;
          
        }
        .footer-link-hading{
            font-size: 18px;
           
            
        }
        .user{
            display: none;
        }
        .side-cat {
            display: flex;
            justify-content:center;
            align-items: center;
            gap: 20px;
            padding: 10px 12px 10px 2px; 
            flex-direction: column;
            
        }
        .janio{
            padding: 0px 20px 0px 20px !important;
        } 
        .elatoot{
            font-size: 20px; 
           
        } 
        .mb-font{
            font-size: 18px; 
           
        } 
       
    /* ===== home page and ===== */
}

@media (max-width: 790px) {
    .logo {
        
        font-size: 36px;
        
    }
    .hading-main{
        font-size: 18px;
    }
    
    li{
        font-size: 14px;
       
       
    }
    .order-fit{
        order: 1;
    }
    .order-sace{
        order: 3;
    }
    .order-my{
        order: 2;
    }
    .dtry {
        
        padding-right:14px;
    }
    .order-fit {
      
        justify-content: space-between;
    
}
.store-hading {
    font-size: 24px;
}
.store-name {
    font-size: 14px;
   
}
.store-name-cati{
    font-size: 14px;
   
 
}
.asked {
    font-size: 24px;
   
}
.faq-sc-hading{
    font-size: 18px;
   
}
.accordion-body {
    font-size: 12px;
    padding: 2px !important;
}
.lightt{
           
    font-size: 24px;
  
}
.linkyxt{
    font-size: 12px;
}
.artivp{
    font-size: 14px;
} 
.artical-buttom {
    padding: 5px;
}
.store-nm{
    font-size: 16px;
   
}
.vendor-tex{
    font-size: 36px;
   
}
.coupon-coupon{
    font-size: 24px;
    
}
.atoz-store{
   
    font-size: 20px;
    justify-content: center;
}
.faxetu{
    justify-content: center;
}
.atoz-store{
      
    font-size:20px;
    gap: 5px;
   
}
img.img-fluid.sinstore-logo {
    width:100px;
}
.store-sigll-hading {
    font-size: 24px;
}
.set-displye {
   
    gap: 10px;
}
.saving-tisp {
    font-size: 14px;
    margin: 0px;
}
.store-rate {
    border-radius: 45%;
    padding: 4px 8px;
    font-size: 14px;
}

.hoshi1{
    order: 1;
}
.hoshi2{
    order: 2;
}
.hoshi3{
    order:3;
    flex-direction: column;
    justify-content: space-around;
   
}


.poction {
    width: 100px;
    height: 120px;
    left: 5px;
}
.parent-off {
    font-size: 24px;
}
.off-kmas {
    font-size: 13px;
}
.stroe-card-km{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    }
    .card-side{
        background-color:#f5f5f7;
        height:240px;
        padding-bottom: 10px;
        padding-top: 0 !important;
    }
    .log-stor-nm {
        display: flex;
        padding: 0;
        margin: 0;
        gap: 10px;
        display: none;
    }
    .log-stor-rm {
        display: block;
        display: flex;
        padding: 0;
        margin: 0;
        gap: 10px;
    }
    .see-you {
        font-size: 12px;
    }
    .info-side{
        padding-left: 5px !important;
        margin-left: 0px;
    } 
    .main-home-card{
      
        margin-left: 0px;
    } 
    .imazon-logo {
        max-width: 90px;
        margin-left: -12px;
        padding-top: 1px;
    } 
    .pading-re{
        padding-left: 0 !important; 
        padding-right: 0 !important;
    } 
    .padlttt{
        padding-left:2px !important;
    }
/* ===== home page and ===== */
   }

  
@media (max-width: 576px){
    .logo {
        
        font-size: 30px;
       
    } 
    svg {
        vertical-align: middle;
        width: 32px;
    } 
    .feed-back{

        font-size: 12px;
    }
    .hading-main{
        font-size: 16px;
    }
    .imazon-logo {
        max-width:90px;
    }
    .save-with {
        font-size: 20px;
    }
    .save-text {
        padding: 4px;
        padding-top: 0;
    }
    .title-amazon-text {
        font-size: 16px;
    }
    .card-disct {
        font-size:12px;
    }
    .show-coupon {
        width: 70px;
       
    }
    
    .dtry {
        
        padding-right: 6px;
    }
   
    .coupon-promo {
        font-size: 16px;
        margin-top: 8px;
    }
    .cat-img-sm {
        max-width: 60px;
    }
    .accessories {
        font-size: 14px;
    }
    .footer-four-four{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .kmashh{
        padding: 5px !important;
    }
    .copuon-site-back{
        margin: 5px;
    }
    .vendor-mb{
        padding: 2px !important;
    }
    .vender-store {
        font-size: 14px;
        text-align: start;
        justify-content: flex-start;
        padding-left: 5px;
        padding-right: 2px;
}
.coupon-sigall {
    padding: 0 !important;
}

.vender-moble-pading{
    padding: 10px !important;
}
img.img-fluid.sinstore-logo {
    width: 60px;
}
.store-sigll-hading {
    font-size: 20px;
}
.set-displye {
   
    gap: 5px;
}
.saving-tisp {
    font-size: 12px;
    margin: 0px;
}
.store-rate {
    border-radius: 45%;
    padding: 2px 4px;
    font-size: 12px;
}

.sharptrt{
    font-size:16px;
    
}

.code-trts {
    font-size: 12px;
    margin: 10px;
    margin-right: 0px;
    margin-left: 1px;
}


.code-trts {
    font-size: 12px;
    margin: 16px;
    margin-right: 0px;
    margin-left: 37px;
}
.top-show {
   
    left: -13px;
}
.tabl-ta{
    width: 20% !important;
    
}
.tabl-tb{
    width: 50% !important;
}
.tabl-tc{
    width: 30% !important;
}
.tab-font{
    font-size: 14px !important;
    color:var(--hading-thrr) !important;
}
.tab-sub{
    font-size: 12px !important;
    color:var(--hading-all) !important;
}
.cash-card {

    max-width: 136px;
    margin-top: 10px;
}
.cash-up-to {
    font-size: 15px;
   
} 
.showp-now {
    font-size: 18px;
} 
.shop-now{
    background:  #1a89f1;
    margin-right: 10px;
    padding: 5px 10px 5px 10px;
}  
.card-disct{
  font-size: 18px;
} 
.home-card-dif{
    align-items: center;
} 
.store-sun-hading {
    font-size: 22px;
    
}
.mb-font{
    font-size: 12px;
} 
.mb-gyt{
    padding-top: 20px;
}
}
@media (max-width: 480px){
    .cord-main-body {
        padding: 1px 26px 3px 28px;
        margin-top: 0;
    }
   
}
@media (max-width: 380px){
   
}








/* =====singall ===== */
a{
    margin:0 ;
    padding: 0 ;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
   
}

.white{
    color: #1a1917;
 
}
.kmas{
    overflow-x: hidden;
}

.accordion-button:not(.collapsed){
    background: none;
    border: none;
    box-shadow: none;
}
.accordion-button:focus {
    box-shadow: none;
}
.kmasdf{
    margin-left: 20px;
}
.col-link{
color: #4dbef7;
}
.row{
    max-width: 1440px;
}